*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
    color:black;
    background-color: gray;
}
textarea{
      background-color: blue;

}

/* encabezado*/
header{
    text-align: center;
    padding: 50px 20px;
    background-color: black;
    color: ghostwhite;
}
header h1{ /*h1 que solo afecta a header*/
    margin:0;
    font-size: 48px;

}
header p{ /*modificacion del parrafo del header*/
    margin-top: 10px;
    font-size: 20px;
   font-style: italic;
}

/*NAVEGACION*/
nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    background-color: rgb(203, 18, 18);
    border-bottom: 1px solid #ddd;
}
nav a{
    color: paleturquoise;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}

/*MAIN*/
main{
    max-width: 900px;
    margin:0 auto;
    background-color: lightgoldenrodyellow;
}

/* Secciones*/
section{
    padding: 60px 40px;
    border-bottom: 1px solid #ddd;
}
section h2{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
/* Seccion de inicio*/
.seccion-inicio{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.seccion-contenido {
    max-width: 700px;

}
.seccion-contenido h2{
    font-size: 42px;
    margin-bottom:  15px;

}
.seccion-contenido p{
    font-size: 20px;
    margin-bottom: 30px;
}

/* boton*/
.boton,button{
    display: inline-block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: azure;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

}
.boton:hover,button:hover{
    background-color: greenyellow;
    color:black
}

/* Seccion sobre mi*/

.sobre-mi-contenido{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.sobre-mi-contenido img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

.sobre-mi-contenido p{
    font-size: 18px;
}

/* Habilidades */
.lista-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.lista-habilidades li{
    padding: 12px 20px;
    background-color: cadetblue;
    border: 4px solid gold;
    border-radius: 5px;
    font-weight: bold;
}


/* contenedor de proyectos  */

.contenedor-proyectos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.proyecto{
    flex: 1;
    min-width: 250px;
    padding: 25px;
    border: 3px, solid darkred;
    border-radius: 8px;
    background-color: lightblue;

}

.proyecto h3{
    margin-top: 0;
    font-size: 22px;
}

.proyecto a{
    color: blueviolet;
    font-weight: bold;
}


/*FORMULARIO*/

forn{
    max-width: 600px;
    margin: 0 auto;
}

.campo{
    margin-bottom: 20px;
}

.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input,
.campo textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16 px;
}

.campo textarea{
    resize: vertical;
}

forn button{
    width: 100px;
}

/* PIE DE PAGINA*/
footer{
    padding: 30px 28px;
    text-align: center;
    background-color: #222;
    color: white;
}

footer p{
    margin: 5px;
}

/*DISEÑO RESPONSIVE*/

@media (max-width: 600px){

    header h1{
        font-size: 32px;
    }

    nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    section{
        padding: 40px 20px;
    }

    .inicio-contenido h2{
        font-size: 32px;
    }

    .sobre-mi-contenido{
        flex-direction: column;
        text-align: center;
    }

    .contenedor-proyectos{
        flex-direction: column;
    }
}